body{
    margin: 0 auto;
}
header {
    display:flex;
    background: rgb(8, 47, 47);
    width: 100%;
    margin: auto 0;
    padding-top: 2vh;
    padding-bottom: 2vh;  
}

header h1{
    display: flex;
    margin:auto;
    font-size: 18px;
    color:white;
}

.title {
    display:flex;
    flex-direction:column;
    margin: auto;
    text-align: center;
    padding: 5.6px 12px 15px 12px;
    margin-bottom: 10px;
    border:none;
    border-bottom: solid black 3px;
    box-shadow: 0 4px 2px -2px black;
}


.title h2{
    margin-bottom: 6px;
}

.title p{
    margin-top: 2px;
    font-size: 17px;
    color: darkgrey;
    font-family: 'Open Sans', sans-serif;
}


.contact_information {
    display:flex;
    flex-direction:column;
    background-color: snow;
    border:none;
    border-bottom: solid black 1px;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;   
}


.contact_form {
    flex-direction: column;
    display: flex;
}
.zip_form {
    flex-direction: column;
    display: flex;
}

legend{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    border: none;
    
    width: 100%;
}

label {
    color:rgb(98, 97, 97);
}

input[type]{
    background: #e8eeef;
    border: none;
    border-radius: 7px;
    padding: 15px;
    
}
input[type="text"],
input[type="email"],
input[type="tel"],
select{
    margin-top:10px;
    margin-bottom:10px;
    
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus{
    background-color: cornsilk;
    
}

input[type="radio"],
input[type="checkbox"] {
  margin: 7px;
}
select {
    background: #e8eeef;
    border: none;
    border-radius: 7px;
    padding: 15px;
    color: darkgrey;
}

input::placeholder{
    text-align: right;
    color : darkgrey;
}


#zip {
    align-self: flex-start;
}

.newsletter {
    border:none;
    margin-top: 30px;
    background-color: snow;
}
.newsletter input:nth-of-type(3),
.newsletter input:nth-of-type(5){
    
    margin-bottom: 30px;
} 
.newsletter input:nth-of-type(1),
.newsletter input:nth-of-type(4){
    
    margin-top: 15px;
} 

textarea {
    background: #e8eeef;
    border: none;
    width:288px;
    height: 100px;
    margin-top: 12px;
    margin-bottom: 30px;
    resize: none;
    border-radius: 7px;
}
textarea:focus {
    background-color: cornsilk;
}

button {
    
    width:100%;
    background: turquoise;
    color: white;
    display: inline-block;
    text-align: center;
    align-items:center;
    border-radius: 6px;
    border: none;
    padding: 19px 39px 18px 39px;
    font-weight: bold;
    font-size: 18px;
    margin:auto;
    
}

button:hover{
    cursor: pointer;
}

footer p {
    text-align: center;
    margin-bottom: 70px;
}


@media screen and (min-width:768px){
    main{
        max-width: 600px;
        align-content: center;
        margin:auto;
    }
    
     .contact_information{
        margin-top: 54px;
        margin-bottom: 10px;
        flex-direction: column;
        
    }
    .contact_form{
        display: inline-flex;
       flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
 
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select{
     margin-bottom: 0;
     margin-top: 0;   
     width: 70%;
 }
 input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus
{
    background-color: cornsilk;
    width:420px;
    transition: transform 1s;
    transform: scale(1.1);
}
 
 #zip{
     align-self: flex-start;
     width: 40%;
     margin-left:74px;
 }
 #zip:focus{
     width:250px;
     transition: transform 1s;
     transform: scale(1.1);
 }

 .zip_form{
      display:block;
      margin-top: 10px;
      margin-bottom: 10px;
 }

 #state {
     width: 75%;
 }

 input[type="radio"]:hover,
 input[type="checkbox"]:hover {
   cursor: pointer;
 }

 textarea{
     width:569px;
 }
 textarea:focus{
     transition: transform 1s ease-out;
     transform: scale(1.1);
 }
 button:hover{
     border: solid tomato 2px;
 }

 button:focus{
     background-color: tomato;
 }
 }

